@model Politico.Models.Constituency

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Constituency</legend>

    <div class="display-label">
        Title
        @*@Html.DisplayNameFor(model => model.title)*@
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.title)
    </div>
    <div class="display-label">
        State
        @*@Html.DisplayNameFor(model => model.State.title)*@
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.State.title)
    </div>

    <div class="display-label">
        Party
        @*@Html.DisplayNameFor(model => model.Party.title)*@
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Party.title)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
