@model Politico.Models.MP

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>MP</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.firstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.firstName)
            @Html.ValidationMessageFor(model => model.firstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.middleName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.middleName)
            @Html.ValidationMessageFor(model => model.middleName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.lastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.lastName)
            @Html.ValidationMessageFor(model => model.lastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.constituencyID, "Constituency")
        </div>
        <div class="editor-field">
            @Html.DropDownList("constituencyID", String.Empty)
            @Html.ValidationMessageFor(model => model.constituencyID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.partyID, "Party")
        </div>
        <div class="editor-field">
            @Html.DropDownList("partyID", String.Empty)
            @Html.ValidationMessageFor(model => model.partyID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.electedYear)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.electedYear)
            @Html.ValidationMessageFor(model => model.electedYear)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.phone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.phone)
            @Html.ValidationMessageFor(model => model.phone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.mobile)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.mobile)
            @Html.ValidationMessageFor(model => model.mobile)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.qualification)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.qualification)
            @Html.ValidationMessageFor(model => model.qualification)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.image)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.image)
            @Html.ValidationMessageFor(model => model.image)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
