@model Politico.Models.Party

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Party</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.abbreviation)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.abbreviation)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.image)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.image)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
