@model IEnumerable<Politico.Models.Party>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>Title
            @*@Html.DisplayNameFor(model => model.title)*@
        </th>
        <th>Abbr.
            @*@Html.DisplayNameFor(model => model.abbreviation)*@
        </th>
        <th>Logo
            @*@Html.DisplayNameFor(model => model.image)*@
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.abbreviation)
            </td>
            <td>
                @if (item.image != null)
                {                 
                    <img src="@Url.Content(item.image)" alt="" width="100" height="100" />                                
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.image)
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
